/*ceci est un test*/

body {
    -background-image: url("./images/wall/wall1.jpg");
    background-size: 100%;
    width:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cible{
    width: 25px;
}

input::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  }
#h6{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
  /*  border-color: black;
    border-style: solid;*/
    justify-content: center;
    text-align: center;
}

#restart{
    display:flex;
    visibility:hidden ;
    width: 100%;
    justify-content: center;
    -margin-top: 20px;

}

#restartButton{
    height: auto;
    font-size: 3em;
}

#container_random{
    display: flex;
    width: 60%;
    margin: 0 auto;
}
.btnrandom{
    margin: 0 auto;
    font-size: 3em;
    font-weight: 600;
   
}

#no{
background-color: red;
}

#ok{
    background-color: green;
}

.rules{
    background-color: yellow;
}


#inputname{
    display:inline-block;
    width: 100%;
    flex-wrap: wrap;
  /*  border-color: black;
    border-style: solid;*/
    justify-content: center;
    text-align: center; 
}

#games{
    display: flex;
   
    flex-wrap: wrap;
    justify-content: center;
}

.games{
    margin: 10px 10px;
}




#criquetDiv{
    width: 100%;
    text-align: center;
    -padding-bottom: 40px;
}

#forminput{
    -display:none;
}
.container-button{
    margin-right: 50px;
}

.container-card{
    width: 350px;
    -height: 350px;
    border-color:black;
    border-style: solid;
    text-align: center;
    margin-right: 30px;;
    vertical-align: baseline;
    border-width: 3px;
    -opacity: 0.7;

}
.nomjoueur{
    height: 16.66%;

    background-color:rgb(236, 241, 165);
    font-weight: bold;
    font-size: 2em;
    color: black;

   
}
.points-restants{
    height: 16.66%;

    background-color: rgb(239,239,239);

    vertical-align: middle;

}

.score{
    height: 16.66%;
    background-color: rgb(236, 241, 165);
    vertical-align: middle;
}
.score-cumulé{
    height: 16.66%;
    background-color: rgb(239,239,239);
    vertical-align: middle;
}

.score-tour{
    height: 16.66%;
    background-color: rgb(236, 241, 165);
    vertical-align: middle;
}
.coupsrestants{
    height: 16.66%;
    background-color: rgb(239,239,239);
    vertical-align: middle;
}
/*zezeze*/
.nomjoueur200{
    height: 16.66%;
    background-color:rgb(236, 241, 165);
    font-weight: bold;
    font-size: 2em;
    color: black;
   
}

.btnlancerfleche{
    width: 60px;
    height:60px;
}
.score200{
    height: 16.66%;
    background-color: rgb(239,239,239);
    vertical-align: middle;
}

.score-cumulé200{
    height: 33.33%;
    background-color: rgb(236, 241, 165);
    vertical-align: middle;
    padding-top: 7% !important;
    font-size: 3em !important;

}
.score-tour200{
    height: 16.66%;
    background-color: rgb(236, 241, 165);
    vertical-align: middle;
}
.coupsrestants200{
    height: 16.66%;
    background-color: rgb(239,239,239);
    vertical-align: middle;
}

#fleche{
    -text-align: center;
}

.tableaujoueurs{
    display: flex;
    text-align: center;
    position: relative;
    margin: auto;
    width: 60%;
    margin-left: 23%;
    opacity: 0.75;
    font-size: 2em;
    margin-top: 21%;
}

.titre{
    text-align: center;
    max-height: 15%;
    height: 10%;
    -font-size: 2em;
    width: auto;
    -margin-left: 20%;

    background-color: rgb(236, 241, 165);

    border-radius: 22px;
    border-color:black;
    border-style: solid;

}
.tableaubouttons{
    flex-wrap: wrap;
    -display: flex;
    margin-top: 1%;
    margin-left: 1%;
    -opacity: 0.8;

}

button{
    margin-bottom: 2px;
   cursor: pointer;
    height: 35px;

    background-color: rgb(239,239,239);
    border-radius: 39px;
    
    
}

.selectplayers{
    margin-top:20px;
}

.case{
    margin: auto;
    font-size: 1.8em;
    -color:black;
    padding-top: 8px;
    
}

#form{
    display:none;
    -flex-wrap: flex;
    border-color:black;
    border-style: solid;
    -width:14%;
    min-width: 240px;
    
  
    background-color: antiquewhite;
}

#form200{
    display:none;
    flex-wrap: wrap;
    border-color:black;
    border-style: solid;
    width:11%;
    min-width: 200px;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 10px;
    background-color: antiquewhite;
}


#form2{
    position: absolute;
    right: 1%;
}
#form1{
    position: absolute;
    left: 1%;
}
input{
   
    height: 45px;
    width: 45px;
    font-size: 1.4em;
    text-align: center;
    border-radius: 46px;
    background-color:rgb(236, 241, 165);
    color: black; 
    margin-top:5px;
    -margin-right: 10px;
    
}

select{
    padding-left: 15px;
    height: 45px;
    width: 55px;
    font-size: 1.4em;
    text-align: center;
    border-radius: 46px;
    background-color: rgb(236, 241, 165);
    color: black; 
}
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modalRules {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalRules-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
  }

  .close {
    color: black;
    float: right;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    top:5%;
    right: 10%;
  }

  .titreJeu{
    font-weight:600;
  }


#btn-display-input-name{
    background-color: rgb(236, 241, 165);
}

#btn-display-input-name-partie-rapide{
    background-color: rgb(236, 241, 165);
}


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.p-modal{
    text-align: center;
    font-size: 4em;
}

.input_add_name{
    width: 200px;
}

#h1{
    background-color: white;
    -width:10%;

}

.ff{
    width:50px;
    height: 50px;
   
    margin-top: 2px;
    margin-left: 10px;
    display: none;
}

.contflech{
    display: flex;
    flex-wrap: wrap;
    width:33%;
    

}

.picture{
    width:50px;
    height: 50px;
}

.modal-header{
    text-align: center !important;
}

.modal-content{
    width: auto;
    height: 100%;
}

.picturemodal{
    width:700px;
    height: 700px;
}

#open{
    display: none;
}

.modal-dialog {
    margin-left:500px;
    height: 600px;
    margin-right:0px;
    width: 900px;
}

.container-title{
    -display: flex;
    -flex-wrap: wrap;
    text-align: center;
    margin-top: 0px !important;
}

::placeholder {
    color: whitesmoke;
    font-size: 0.75em;
    font-style: italic;
    opacity: 0.65;
  }

  

  .icon{
    text-align: center;
    width: 50px;
    height: 50px;
    margin-left: 150px;
    margin-bottom: 10px;
   visibility:hidden;
   display: grid;
  

  }

  .container-wall{
   right: 0;
    position: absolute;
    bottom: 0;
  }
#create_myfunctionGhost200{
    margin-left: 10px;

}
  
  .ptsrestants{
      font-size: 2em;
  }

  #listefinale{
    
    position: absolute;
    list-style: none;
    right: 0;
    top: 0;

  }

  .list{
      background-color: indianred;
      border-radius: 20px;
      font-size: 2em;
      text-align: center;
        color: antiquewhite;
        margin-top: 5px;

  }

  .contflechhidden{
      display:none;
  }

  .green{
      border-color: green;
      border-width: 6px;
      font-size: 126%;
      font-style: italic;
      

  }

  #selectedGame{
      display: none;
  }

  .boule{
      width:18%;
      height: 10%;
      background-color: aliceblue;
      text-align: center;
      -margin-top: 5px;
      border-radius: 41px;
      font-size: 2em;
      margin:5px 2px;
      -margin-bottom: 10px;
      -border-style: solid;
      border:3px solid;
      cursor: pointer;
      

  }
  .boulemorte{
    width:18%;
    height: 10%;
    text-align: center;
    -margin-top: 5px;
    border-radius: 41px;
    font-size: 2em;
    -margin-top:10px;
    -margin-bottom: 10px;
    -border-style: solid;
    border:3px solid;
    cursor: pointer;
    background-color:grey; 
    visibility: hidden;
    margin:5px 2px;
}

#nul{
    background-color: red;
}

#nulcolor{
    border-radius: 0;
    padding:2% 2%;
    background-color: rgb(236, 241, 165);
    width: auto;
    border:1px solid;
    font-size: 1.4em;

}

.rouge{
    color:red
}

.vert{
    color:green
}


  .boulerougecolor{
    background-color:red
  }

  .boulevertcolor{
    background-color:green;
  }

  .containerboule{
    text-align: center;
    width:100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    height: 20%;
  }

  .containerbouleColor{
    text-align: center;
    width:100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    height: 20%;
  }


 .tableaubillard{
     background-color: beige;
     height: 30%;
 }

 .boulesEmpochées{
     background-color: coral;
 }
 .totalbillard{
     background-color: aquamarine;
     height: 22%;
 }

 .containerCriquet{
    -height: 300px;
    background-color: rgb(212, 212, 97);
    font-size: 25px;
 }

 #btns_criquet{
    -height: 300px;
    background-color:cyan;
    font-size: 25px;
    display:none;
    
 }

 .btncriquet{
     -widows: 100%;
     cursor: pointer;
     padding-top: 22px;
     background-color: cornflowerblue;
     height: 60px;
     -width:3em;
     font-size: 15px;
     font-weight: 600;

 }

 /*les boules:*/
 .boutonscriquet{ 
display: none;
text-align: center;
background-color: cornsilk;
width:100%;
font-size: 15px;
justify-content: center;
position: absolute;
bottom:0px;

 }

 #ligne_0, #ligne_2, #ligne_4, #ligne_6{
     background-color: beige;
 }

 #ligne_1, #ligne_3, #ligne_5, #ligne_7{
    background-color: rgb(212, 212, 97);
}
.score_joueur_criquet{
    font-size: 40px;
    font-style: italic;
    
}

.ligne, .case_vide{
    font-size: 20px;
}

.joueur{
    font-size: 17px;/*nom du joueur pour criquet*/
    text-align: left
}

.score_ligne{
    font-size: 20px;
}

.score_joueur_criquet{
    font-size: 25px;
}