#forminput{
    -display:none;
}
.container-button{
    margin-right: 50px;
}

.container-card{
    width: 300px;
    height: 300px;
    border-color: black;
    border-style: solid;
    text-align: center;
    margin-right: 15px;
}
.nomjoueur{
    height: 20%;
    background-color: yellow;
    vertical-align: baseline;
}
.points-restants{
    height: 20%;
    background-color: red;
    vertical-align: middle;
}

.score{
    height: 20%;
    background-color: green;
    vertical-align: middle;
}
.score-cumulé{
    height: 20%;
    background-color: pink;
    vertical-align: middle;
}
.coupsrestants{
    height: 20%;
    background-color: orange;
    vertical-align: middle;
}
#fleche{
    -text-align: center;
}

.tableaujoueurs{
    display: flex;
    text-align: center;
}

.titre{
    text-align: center;
    height: 50px;
    font-size: 2em;
}
.tableaubouttons{
    display: flex;

}