body {
    background-image: url("https://static1.squarespace.com/static/5366a1f8e4b0f0c8a1bd660f/t/53dc1d5de4b08daa81246f25/1517911795307/");
    background-size: 100%;
}
#h6{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    border-color: black;
    border-style: solid;
    justify-content: center;
}

#forminput{
    -display:none;
}
.container-button{
    margin-right: 50px;
}

.container-card{
    width: 400px;
    height: 400px;
    border-color:rgb(205, 126, 9);
    border-style: solid;
    text-align: center;
    margin-right: 30px;;
    vertical-align: baseline;
    border-width: 5px;

}
.nomjoueur{
    height: 16.66%;
    background-color: yellow;
   
}
.points-restants{
    height: 16.66%;
    background-color: red;
    vertical-align: middle;
}

.score{
    height: 16.66%;
    background-color: green;
    vertical-align: middle;
}
.score-cumulé{
    height: 16.66%;
    background-color: pink;
    vertical-align: middle;
}
.score-tour{
    height: 16.66%;
    background-color: grey;
    vertical-align: middle;
}
.coupsrestants{
    height: 16.66%;
    background-color: orange;
    vertical-align: middle;
}
#fleche{
    -text-align: center;
}

.tableaujoueurs{
    display: flex;
    text-align: center;
    position: relative;
    margin: auto;
    width: 60%;
    margin-left: 23%;
    opacity: 0.8;
    font-size: 2em;
    margin-top: 21%;
}

.titre{
    text-align: center;
    height: 50px;
    font-size: 2em;
    width: 25%;
    margin-left: 35%;
    background-color: wheat;
    padding-top: 7px;
    border-radius: 22px;
}
.tableaubouttons{
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
    opacity: 0.8;

}

button{
    margin-bottom: 22px;
   cursor: pointer;
    height: 55px;
    font-size: 1.1em;
    background-color: indianred;
    border-radius: 39px;
    
    
}

.case{
    margin: auto;
}

#form2{
    position: absolute;
    right: 1%;
}
#form1{
    position: absolute;
    left: 1%;
}
input{
   
    height: 45px;
    width: 55px;
    font-size: 1.4em;
    text-align: center;
    border-radius: 46px;
    background-color: green;
    color: aliceblue; 
}
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.p-modal{
    text-align: center;
    font-size: 4em;
}

.input_add_name{
    width: 200px;
}

#h1{
    background-color: white;

}