/*ceci est un test*/
.containerBillard{
    display: contents;
}

.backBillard{
    width: 40px;
    position: absolute;
    right: 0;
}

.containerBillardColor{
    display: flex;
    width:100%;
    justify-content: center;
}


body {
    -background-image: url("./images/wall/wall1.jpg");
    background-size: 100%;
    -width:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:#000;
}
.containerTourBillard{
    display: flex;
    min-width : 11%;
    line-height: 68px;
    font-size: 27px;
}

.containerTourBillardColor{
    display: flex;
    min-width : 11%;
    line-height: 68px;
    font-size: 27px;
}

.containertourRandom{
    display: flex;
    min-width : 11%;
    font-size: 27px;
    justify-content: center;
}

.containertour{
    display: flex;
    min-width : 11%;
    line-height: 68px;
    font-size: 27px;
}

.containertour200{
    display: flex;
    min-width : 11%;
    line-height: 51px;
    font-size: 27px;
    margin-left: 15px;
}

.containerTable200{
    width: 60%;
    font-size: 1.5em;
    border: solid 2px;
    margin-top: 5px;
}


.tourbillard{
    display: flex;
    min-width: 11%;
    line-height: 68px;
    font-size: 27px;
}

.tourcriquet {
    font-size: 20px;
}
.nbtourcriquet{
    font-size: 30px;
    text-align: left;
}


.cible{
    width: 22px;
}

input::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  }
#h6{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
  /*  border-color: black;
    border-style: solid;*/
    justify-content: center;
    text-align: center;
}

#restart{
    display:flex;
    visibility:hidden ;
    width: 100%;
    justify-content: center;
}

#restartButton{
    height: auto;
    font-size: 3em;
}

#container_random{
    display: flex;
    width: 60%;
    margin: 0 auto;
}
.btnrandom{
    margin: 0 auto;
    font-size: 3.5em;
    font-weight: 600;
    cursor: pointer;
    padding: 0 5px;
    border: 1px black solid;
}


.scoreCombo{
    width: 70%;
    border: solid 2px;
    margin-top: 4px;
}

.tableauscore301{
    width: 65%;
    font-size:1.2em;
    border: solid 2px;
    margin-top: 5px;
}

#validbest{
    background-color:#20c997;
}

#btn-ChooseNbTour{
    margin: 0 0 0 20px;
    width: 50px;
    font-size: 19px;
    height: 42px;
}

.chooseNumber{
    font-size: 26px;
}

#h7{
    text-align: center;

}

.containertourbest{
    margin-left:20px;
    display: flex;
    font-size: 20px;
    font-weight: 600;
}

.grey{
    background-color: grey !important;
    color: #000 !important;
}

.no{
background-color: red;
color: #000;
}

.ok{
    background-color: green;
    color: #000;
}

.rules{
    background-color: rgb(236, 241, 165);
    margin: 10px 10px;
}

.otherOptions{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    
}


#inputname{
    display:inline-block;
    width: 100%;
    flex-wrap: wrap;
  /*  border-color: black;
    border-style: solid;*/
    justify-content: center;
    text-align: center; 
}

#games{
    display: flex;
   
    flex-wrap: wrap;
    justify-content: center;
}

.games{
    margin: 10px 10px;
}


.joueur_name{
    text-align: left;
}

#criquetDiv{
    width: 100%;
    text-align: center;
}

#forminput{
    -display:none;
}
.container-button{
    margin-right: 50px;
}

.container-card{
    width: 350px;
    -height: 350px;
    border-color:black;
    border-style: solid;
    text-align: center;
    margin-right: 30px;;
    vertical-align: baseline;
    border-width: 3px;
    -opacity: 0.7;

}

.nomjoueur{
    height: 16.66%;
    background-color:rgb(236, 241, 165);
    font-weight: bold;
    font-size: 2em;
    color: black;
   
}
.points-restants{
    height: 16.66%;

    background-color: rgb(239,239,239);

    vertical-align: middle;

}

.score{
    height: 16.66%;
    background-color: rgb(236, 241, 165);
    vertical-align: middle;
}
.score-cumulé{
    height: 16.66%;
    background-color: rgb(239,239,239);
    vertical-align: middle;
}

.score-tour{
    height: 16.66%;
    background-color: rgb(236, 241, 165);
    vertical-align: middle;
}
.coupsrestants{
    height: 16.66%;
    background-color: rgb(239,239,239);
    vertical-align: middle;
}
/*zezeze*/
.nomjoueur200{
    height: 16.66%;
    background-color:rgb(236, 241, 165);
    font-weight: bold;
    font-size: 2em;
    color: black;
   
}

.btnlancerfleche{
    width: 60px;
    height:60px;
}
.score200{
    height: 16.66%;
    background-color: rgb(239,239,239);
    vertical-align: middle;
}

.score-cumulé200{
    height: 33.33%;
    background-color: rgb(236, 241, 165);
    vertical-align: middle;
    padding-top: 7% !important;
    font-size: 3em !important;

}
.score-tour200{
    height: 16.66%;
    background-color: rgb(236, 241, 165);
    vertical-align: middle;
}
.coupsrestants200{
    height: 16.66%;
    background-color: rgb(239,239,239);
    vertical-align: middle;
}

#fleche{
    -text-align: center;
}

.tableaujoueurs{
    display: flex;
    text-align: center;
    position: relative;
    margin: auto;
    width: 60%;
    margin-left: 23%;
    opacity: 0.75;
    font-size: 2em;
    margin-top: 21%;
}

.titre{
    text-align: center;
    max-height: 15%;
    height: 10%;
    width: auto;
    background-color: rgb(236, 241, 165);
    -border-radius: 22px;
    border-color:black;
    border: solid 2px;

}
.tableaubouttons{
    flex-wrap: wrap;
    -display: flex;
    margin-top: 1%;
    margin-left: 1%;
    -opacity: 0.8;

}

button{
    margin-bottom: 2px;
   cursor: pointer;
    height: 35px;
    min-width: 60px;
    background-color: rgb(239,239,239);
    -border-radius: 39px;
    
    
}

.selectplayers{
    margin-top:20px;
}

.case{
    margin: auto;
    font-size: 1.8em;
    -color:black;
    padding-top: 8px;
    
}

#form{
    display:none;
    -flex-wrap: flex;
    border-color:black;
    border-style: solid;
    -width:14%;
    min-width: 240px;
    
  
    background-color: antiquewhite;
}

#form200{
    display:none;
    flex-wrap: wrap;
    border-color:black;
    border-style: solid;
    width:11%;
    min-width: 200px;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 10px;
    background-color: antiquewhite;
}

.c200{

    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

#resultTourDiv200{
    text-align: center;
}

#form2{
    position: absolute;
    right: 1%;
}
#form1{
    position: absolute;
    left: 1%;
}
input{
   
    height: 45px;
    width: 45px;
    font-size: 1.4em;
    text-align: center;
    border-radius: 46px;
    background-color:rgb(236, 241, 165);
    color: black; 
    margin-top:5px; 
}

select{
    padding-left: 15px;
    height: 45px;
    width: 55px;
    font-size: 1.4em;
    text-align: center;
    border-radius: 46px;
    background-color: rgb(236, 241, 165);
    color: black; 
}
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modalRules {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalRules-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
  }

  .close {
    color: black;
    float: right;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    top:5%;
    right: 10%;
  }

  .titreJeu{
    font-weight:600;
  }


#btn-display-input-name{
    background-color: rgb(236, 241, 165);
}

#btn-display-input-name-partie-rapide{
    background-color: rgb(236, 241, 165);
}


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.p-modal{
    text-align: center;
    font-size: 4em;
}

.input_add_name{
    width: 200px;
}

#h1{
    background-color: white;
    -width:10%;

}

.ff{
    width:50px;
    height: 50px;
   
    margin-top: 2px;
    margin-left: 10px;
    display: none;
}

.contflech{
    display: flex;
    flex-wrap: wrap;
    width:33%;
    

}

.picture{
    width:50px;
    height: 50px;
}

.modal-header{
    text-align: center !important;
}

.modal-content{
    width: auto;
    height: 100%;
}

.picturemodal{
    width:700px;
    height: 700px;
}

#open{
    display: none;
}

.modal-dialog {
    margin-left:500px;
    height: 600px;
    margin-right:0px;
    width: 900px;
}

.container-title{
    -display: flex;
    -flex-wrap: wrap;
    text-align: center;
    margin-top: 0px !important;
}

::placeholder {
    color: whitesmoke;
    font-size: 0.75em;
    font-style: italic;
    opacity: 0.65;
  }

  

  .icon{
    text-align: center;
    width: 50px;
    height: 50px;
    margin-left: 150px;
    margin-bottom: 10px;
   visibility:hidden;
   display: grid;
  

  }

  .container-wall{
   right: 0;
    position: absolute;
    bottom: 0;
  }
#create_myfunctionGhost200{
    margin-left: 10px;

}
  
  .ptsrestants{
      font-size: 2em;
  }

  #listefinale{
    
    position: absolute;
    list-style: none;
    right: 0;
    top: 0;

  }

  .list{
      background-color: indianred;
      border-radius: 20px;
      font-size: 2em;
      text-align: center;
        color: antiquewhite;
        margin-top: 5px;

  }

  .contflechhidden{
      display:none;
  }

  .green{
      border-color: green;
      border-width: 6px;
      font-size: 126%;
      font-style: italic;
      

  }

  #selectedGame{
      display: none;
  }
  .boule25{
    background-color: green !important;
  }

  .boule50{
    background-color: red !important;
  }

  .boule{
      width:18%;
      height: 10%;
      background-color: aliceblue;
      text-align: center;
      border-radius: 41px;
      font-size: 2em;
      margin:4px 2px;
      border:2px solid;
      cursor: pointer;
      

  }
  .boulemorte{
    width:18%;
   /* height: 10%;
    text-align: center;
    border-radius: 41px;
    font-size: 2em;
    border:3px solid;
    cursor: pointer;
    background-color:grey;*/
    visibility: hidden !important;
    /*margin:5px 2px;*/
}

#nul{
    background-color: red;
}

#nulcolor{
    border-radius: 0;
    padding:2% 2%;
    background-color: rgb(236, 241, 165);
    width: auto;
    border:1px solid;
    font-size: 1.4em;
    margin-left: 20px;

}

.rouge{
    color:red
}

.vert{
    color:green
}


  .boulerougecolor{
    background-color:red
  }

  .boulevertcolor{
    background-color:green;
  }

  .containerboule{
    text-align: center;
    width:100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    height: 20%;
  }

  .containerbouleColor{
    text-align: center;
    width:100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    height: 20%;
  }


 .tableaubillard{
     background-color: beige;
     height: 30%;
 }

 .boulesEmpochées{
     background-color: coral;
 }
 .totalbillard{
     background-color: aquamarine;
     height: 22%;
 }

 .containerCriquet{
    -height: 300px;
    background-color: rgb(212, 212, 97);
    font-size: 25px;
 }

 #btns_criquet{
    -height: 300px;
    background-color:cyan;
    font-size: 25px;
    display:none;
    
 }

 .btncriquet{
     -widows: 100%;
     cursor: pointer;
     padding-top: 22px;
     background-color: cornflowerblue;
     height: 60px;
     -width:3em;
     font-size: 15px;
     font-weight: 600;

 }

 #titre-criquet{
    text-align: right;
    width: 50%;
    font-weight: 600;
    font-size: 20px;
    padding-right: 10px;
 }
 #containertitrecriquet{
     display: flex;
     border: 3px solid black;
     visibility: hidden;
 }

 .btnzero {
     background-color: red;
 }

 .btnriencriquet{
     background-color: maroon;
     color: white;
     font-size: 22px;
     padding-top: 16px;
 }


 .imgtitrecriquet{
     width: 25px;
     margin: 2px 2px;
 }

 /*les boules:*/
 .boutonscriquet{ 
display: none;
text-align: center;
background-color: cornsilk;
width:100%;
font-size: 15px;
justify-content: center;
-position: fixed;
bottom:0px;

 }

 #ligne_0, #ligne_2, #ligne_4, #ligne_6{
     background-color: beige;
 }

 #ligne_1, #ligne_3, #ligne_5, #ligne_7{
    background-color: rgb(212, 212, 97);
}
.score_joueur_criquet{
    font-size: 40px;
    font-style: italic;
    
}

.ligne, .case_vide{
    font-size: 20px;
}

.case_vide_random{
    position: absolute;
    right: 0;
}



.joueur{
    font-size: 17px;/*nom du joueur pour criquet*/
    -text-align: left
}

.score_ligne{
    font-size: 20px;
}

.score_joueur_criquet{
    font-size: 25px;
}
.backJeu1{
    width:60px;
    cursor: pointer;
}

.backRandom{
    width:40px;
    cursor: pointer;
}

 /*retour criquet:*/
.back{
    width:27px;
    cursor: pointer;
}

#calcsuivant{
    background-color: #20c997;
   /* margin-left: 10px;*/
}

.backMenu{
    width:53px;
    cursor: pointer;
}

.inputPass{
    width:200px;
    
}

.containerPass{
    text-align: center;
}

.validatepass{
    cursor: pointer;
    background-color: #ADFF2F;
    max-width: min-content;
    margin: 10px auto;

}

.link{
    display: none;
    justify-content: center;
}

.MonChampionnat{
    bottom:10px;
    position: absolute;
}

.calssementjournée{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid black;
    margin-bottom: 10px;
}

.journée{
    font-weight: bold;
    font-style: italic;
}

.classementgeneral{
    text-align: center;
    margin: 0 auto;
    width: 65%;
    border-collapse: collapse;
    border: solid 2px;
    margin-bottom: 12px
}

.containerGénéral{
    display: flex;
    justify-content: center;

}

.arrow{
    margin:0 6px;
}

.classementgeneraltitre{
    font-weight: bold;
}

.Général{
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
    font-style:italic;
}

.test21{
    background-color: red;
}

.infos{
    font-style: italic;
}

.nextjournée{
    font-size: 15px;
    margin-bottom: 4px;
    font-style: italic;
}

.resultTour{
    width: 18%;
    border: 1px black solid;
    line-height: 64px;
    font-size: 30px;
    background-color: antiquewhite;
    margin: 0 4px;
}

.calculette301{
    display: none;
    text-align: center;
    width: 100%;
    -display: none;
    flex-wrap: wrap;
    justify-content: center;
    -height: 20%;
}

.BestCombo{
    display: none;
    text-align: center;
    width: 100%;
    -display: none;
    flex-wrap: wrap;
    justify-content: center;
    -height: 20%;
}

.PireCombo{
    display: none;
    text-align: center;
    width: 100%;
    -display: none;
    flex-wrap: wrap;
    justify-content: center;
    -height: 20%;
}

.roue{
    display: none;
}

@media only screen and (min-width:700px)and (max-width:16000px){
    .cible{
           width: 40px;
    }
    .joueur_name{
            text-align: center;
            font-size: 30px;
    }

    .ligne{
        font-size: 50px;
    }
    #titre-criquet {
       
        font-size: 30px;
      
    }
    .imgtitrecriquet {
        width: 35px;
        margin: 2px 2px;
    }

    .titre{
        font-size: 2em;
    }

    button{
        width: max-content;
        border-radius: 20px;
        height: 76px;
        font-size: 1.5em;

    }

    select{
       height: 75px;
       width :75px;
    }

    .games{
        width: 170px;
    }

    .score_joueur_criquet{
        font-size: 35px;
    }

    .btncriquet{
        font-size: 30px;
        width: 100%;
        padding-top: 10px;

    }

    .btnrandom {
        font-size: 7em;
    }

    .close{
        top:7%;
    }

    #h6{
        font-size: 2em;
    }
    .back{
        width:65px;
        cursor: pointer;
    }
    .backMenu{
        width:65px;
        cursor: pointer;
    }
}


.white{
    background-color: white;
    color: #000;
}

.green301{
    background-color: #ADFF2F !important;
}